html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    columns: #666;
    text-align: center;
    line-height: 180%;
    /* letter-spacing: normal; */
    text-transform: uppercase;
}

.parallax1, .parallax2, .parallax3, .parallax4{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 75%;
}

.heading{
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400%;
    text-shadow: 1px 1px 1px black;
}

.heading-sm{
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    text-shadow: 1px 1px 1px black;
}

.parallax1{
    background-image: url(img/first.jpeg);
    height: 100vh;
}
.parallax2{
    background-image: url(img/second.jpeg);
    height: 60vh;
}
.parallax3{
    background-image: url(img/third.jpeg);
    height: 40vh;
}
.parallax4{
    background-image: url(img/fourth.jpeg);
    height: 100vh;
}

section{
    padding: 2rem;
    overflow: auto;
}

.dark{
    background-color:#323233;
    color: #f2f2f2;
}

.col{
    display: flex;
}

.col>P{
    text-align: left;
}

p{
    margin: 1rem;
}

@media (max-width: 768px){

    .col{
        display: block;
    }

    .col>p{
        text-align: center;
    }

    .parallax1, .parallax2, .parallax3, .parallax4{
    background-attachment: scroll;
    }

}