*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.bg{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    mix-blend-mode: hue;
}

img{
    height: 100vh;
}